POSTGRES_USER=postgres
POSTGRES_PASSWORD=replace-with-admin-db-password
POSTGRES_DB=postgres
API_POSTGRES_PASSWORD=replace-with-api-db-password
INGESTION_POSTGRES_PASSWORD=replace-with-ingestion-db-password
