LOG_LEVEL=level
LOG_FORMAT=format

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=ingestion_user
POSTGRES_PASSWORD=ingestion-password
POSTGRES_NAME=ingestion
POSTGRES_DB=ingestion

KAFKA_ADDRESSES=address1,address2,address3

SCHEDULER_INFRA_CRON=delta
SCHEDULER_EVENTS_CRON=delta

INGESTION_SERVICE_TOKEN=token

TWOGIS_API_KEY=key

GEO_API_URL=url