LOG_LEVEL=debug
LOG_FORMAT=text

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=ingestion_user
POSTGRES_PASSWORD=ingestion-password
POSTGRES_DB=ingestion

KAFKA_ADDRESSES=kafka:19092

SCHEDULER_INFRA_CRON=@every 15m
SCHEDULER_EVENTS_CRON=@every 15m
SCHEDULER_COMPETITORS_CRON=@every 5m

INGESTION_SERVICE_TOKEN=token
TWOGIS_API_KEY=key
GEO_API_URL=http://api:8080/
