LOG_LEVEL=level
LOG_FORMAT=format

POSTGRES_HOST=ingestion-db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_NAME=geologic
POSTGRES_DB=geologic

SCHEDULER_INFRA_CRON=delta
SCHEDULER_EVENTS_CRON=delta

INGESTION_SERVICE_TOKEN=token

TWOGIS_API_KEY=key

GEO_API_URL=url